[Unit]
Description=gofins Stock Screener
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/gofins/deployment
ExecStart=/usr/bin/docker compose up -d --force-recreate
ExecStop=/usr/bin/docker compose stop
ExecStopPost=/usr/bin/docker compose rm -f
TimeoutStopSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
